{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Buat Jadwal</title>
<link rel="stylesheet" href="{% static 'jadwal/css/style.css' %}">
<script src="{% static 'jadwal/js/script.js' %}"></script>
{% endblock head %}

{% block content %}
<section class="d-flex flex-column" style="padding: 10vmin;">
    <div class="form-container">
        <div class="form-jadwal px-3 py-4">
            <div class="hint mb-3">Isi detail rapat di sini</div>
            <form action="" method="POST">
                {% csrf_token %}
                <div id="detail-jadwal" class="d-flex flex-column">
                    <p>{{ jadwal_form.judul }}</p>
                    <div class="form-tanggal">
                        <p>{{ jadwal_form.tanggal_awal }}</p>
                        <p>{{ jadwal_form.tanggal_akhir }}</p>
                    </div>
                    <p>{{ anggota_form.nama }}</p>
                </div>
                {% if jadwal_form.errors %}
                    {% for error in jadwal_form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                <input class="py-1 px-2 mt-2 my-btn" type="submit" value="Jadwalkan Rapat">
            </form>
        </div>
            <!-- TODO : Make background image position similar to prototype-->
            <!-- Sesiapa saja, tolongin :') -->
            <img src="{% static 'jadwal/img/youngpeople 1.png' %}" class="d-none d-lg-block" style="border-radius: 25px;">
    </div>
</section>
{% endblock content %}