{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Undangan</title>
<link rel="stylesheet" href="{% static 'jadwal/css/style.css' %}">
<script src="{% static 'jadwal/js/script.js' %}"></script>
{% endblock head %}

{% block content %}
<section class="d-flex flex-column h-100">
    <div class="m-auto">
        <div class="invite-text d-flex flex-column align-items-center">
            <div>Anda telah diundang ke rapat</div>
            <div>{{ jadwal.judul }}</div>
        </div>
        <div class="d-flex justify-content-center pt-5">
            <form action="{% url 'jadwal:invite' jadwal.url %}" method="POST">
                {% csrf_token %}
                {{ join }}
                <button class="my-btn px-5 py-3" type="submit">Gabung Sekarang</button>
            </form>
        </div>
    </div>
</section>
{% endblock content %}