{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
<title>Komentar</title>
<link rel="stylesheet" href="{% static 'komentar/css/style-komentar.css' %}">
{% endblock %}

{% block content %}
<div class="komentar">
    <h2>Komentar</h2>
    {% if jadwal.komentar_set.all %}
        {% for komentar in jadwal.komentar_set.all %}
            <div class="komentar-box">
                <span>~{{ komentar.nama }}</span>
                <div class="komentar-isi">
                    {{ komentar }}
                </div>
                <i>{{ komentar.tanggal }}</i>
            </div>
        {% endfor %}
    {% else %}
        <div class="komentar-box">
            Belum ada Komentar.
        </div>
    {% endif %}
    <div class="mt-5" id="tambah_form">
        <form action="{% url 'komentar:tambah_komentar' jadwal.judul user.nama_panjang %}" method="POST">
            {% csrf_token %}
            {{ komen_form|crispy }}
            <button type="submit">Kirim</button>
        </form>
    </div>
    
</div>
{% endblock %}