/* Project-wide style */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

/* Color scheme:
#226581 - Button
#2E86AB - Navbar
#BDDFEF - Background

Font: Bree Serif, Montserrat
*/


/* GENERAL SECTION */
body {
	background-color: #BDDFEF;
	margin: auto;
	font-family: 'Montserrat', sans-serif;
	color: #000000;
}

/* NAVIGATION BAR */

.navbar-custom {
	background-color: #2E86AB;
	border-radius: 0;
}

.navbar-custom .navbar-brand {
	margin: 7px 10px;
	font-family: 'Bree Serif', sans-serif;
	color: #FFFFFF;
	font-size: xx-large;
}

.navbar-custom .nav-item {
	margin: 7px 10px;
	transition: .2s;
}

.navbar-custom .nav-label {
	padding: 15px 0;
	color: #FFFFFF;
	height: 50px;
	font-size: large;
	line-height: 20px;
}

.navbar-custom .nav-link {
	padding: 15px 30px !important;
	background-color: #226581;
	border-radius: 50px;
	color: #FFFFFF;
	font-size: large;
	line-height: 20px;
	transition: .2s;
}

.navbar-custom .navbar-toggler-icon {
	background-image: url('../img/hamburger_icon.png');
}

.navbar-custom .nav-item .nav-link:hover,
.navbar-custom .nav-item .nav-link:focus {
	background-color: #EBF2FA;
	color: #0F4C75;
}
