{% extends "base.html" %}
{% load static %}

{% block head %}
    <title>Feedback List</title>
{% endblock head %}

{% block content %}
    <h3>
        Feedback List
    </h3>
    <p>
        <a href="{% url 'umpanbalik:create' %}">+ Create New</a>
    </p>

    <table class="table">
        <tr><th>Id</th><th>Tulis Pesan Anda</th></tr>
        {% for item in feedbacks %}
            <tr>
                <td>
                    <a href="{% url 'umpanbalik:edit' id=item.id %}">{{ item.id }}</a>
                </td>
                <td>{{ item.comment }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}