{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>JadwalinAja</title>
<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
{% endblock head %}

{% block content %}
<div class="d-flex flex-column" style="height: 85vh;">
	<div class="welcome-text text-center my-auto">
		<h1 style="font-weight: bold;">Selamat datang di</h1>
		<h1 style="font-family: 'Bree Serif', sans-serif;">JadwalinAja</h1>
	</div>
	<div class="ml-4 mb-4">
		<a href="{% url 'umpanbalik:create' %}" class="btn-general">Feedback</a>
	</div>
</div>
{% endblock content %}
