.welcome-text h1 {
    font-size: 8vw;
}

.btn-general {
    background-color: #226581;
    color: white;
    font-weight: bold;
    font-size: x-large;
    padding: 25px 40px;
    border: 0;
    transition: .2s;
}

.btn-general:hover {
    text-decoration: none;
    color: white;
    filter: brightness(85%)
}